<!-- <div class="new-blog" style="text-align: center;padding:20px;">
    <button (click)="redirectToBlog()" style="padding: 10px; border: 2px solid green;background-color: transparent;cursor: pointer;" type="button">New Blog</button>
</div>
<div class="blog-list">
    <p (click)="readBlog(blog)" class="blog-title" style="cursor: pointer; padding:10px;border: 1px dotted green;" *ngFor="let blog of blogList">
        {{blog.title}}
        <img *ngIf="blog.image" width="700px" height="400px" src="data:image/png;base64,{{blog.image}}"/>
    </p>
</div> -->
<app-food-homepage></app-food-homepage>