.form-field-input{
    .form-field-wrapper{
        textarea.form-field-control{
            border: 2px dotted magenta;
            font-style: italic;
            font-size: 24px;
            width: 100%;
        }
    }
}