<app-header-simple [headerInfo]="header"></app-header-simple>
<main>
    <div class="container">
        <div class="element-1">
            <a class="image" href="blogs/personality/article">
                <img src="../../assets/personality/nikola.jpeg" />
                <p>
                    Nikola Tesla
                </p>
            </a>
            <div>story about tesla</div>
        </div>
        <div class="element-2">
            <a class="image" href="blogs/personality/article">
                <img src="../../assets/personality/ambedkar.jpeg" />
                <p>
                    Bhimrao Ambedkar
                </p>
            </a>
        </div>
        <div class="element-3">
            <a class="image" href="blogs/personality/article">
                <img src="../../assets/personality/gandhi.webp" />
                <p>
                    Mahatma Gandhi
                </p>
            </a>
        </div>
        <div class="element-4">
            <a class="image" href="blogs/personality/article">
                <img src="../../assets/personality/tata.jpeg" />
                <p>
                    Jamsetji Tata
                </p>
            </a>
        </div>
        <div class="element-5">
            <a class="image" href="blogs/personality/article">
                <img src="../../assets/personality/indira.webp" />
                <p>
                    Indira Gandhi
                </p>
            </a>
        </div>
        <div class="element-6">
            <a class="image" href="blogs/personality/article">
                <img src="../../assets/personality/rajesh.jpeg" />
                <p>
                    Rajesh Khanna
                </p>
            </a>
        </div>
        <div class="element-7">
            <a class="image" href="blogs/personality/article">
                <img src="../../assets/personality/nikola.jpeg" />
                <p>
                    Nikola Tesla
                </p>
            </a>
        </div>
    </div>
</main>
